################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/OpenFluency.Web/.vs
/OpenFluency.Web/OpenFluency.Web/bin
/OpenFluency.Web/OpenFluency.Web/obj
/OpenFluency.Web/OpenFluency.Web/OpenFluency.Web.csproj.user
