################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs
/src/OpenFluency.Web/bin
/src/OpenFluency.Web/obj
/src/OpenFluency.Web/OpenFluency.Web.csproj.user
/src/OpenFluency.Repositories/bin
/src/OpenFluency.Repositories/obj
/src/OpenFluency.Services/bin
/src/OpenFluency.Services/obj
