@using OpenFluency.Web.Models.Menu
@{
    ViewData["Title"] = "Início";
    ViewData["Menu"] = Menu.Home;
}

<div class="text-center">
    <h1 class="display-4"><b>Bem-vindo</b></h1>
    <p>Esse é o portal da escola <b>Open Fluency</b>.</p>
</div>